.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: hsl(34, 92%, 20%);
  padding: 20px;
}

.grid-item {
  background-color: rgb(255,215,0);
  border: 10px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  
  text-align: center;
  height: 200px;
}

.titleHeb {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}



.titleEng {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 30px;
}

.desc {
  font-size: 20px;
}
